@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

:root {
    --sl-primary-width: 18rem;
    --sl-secondary-width: 18rem;
    --sl-primary-min-width: 48px;
    --sl-secondary-min-width: 0;

    --primary-0:   #ffffff;
    --primary-10:  #fdfdfc;
    --primary-20:  #f8f8f6;
    --primary-30:  #f6f6f4;
    --primary-40:  #f4f4f1;
    --primary-50:  #efeeeb;
    --primary-60:  #edece8;
    --primary-70:  #ebeae5;
    --primary-80:  #e6e5e0;
    --primary-90:  #e4e3dd;
    --primary-100: #e2e1da;

    --primary-150: #d2d1c6;
    --primary-200: #c3c2b7;
    --primary-250: #b3b2a8;
    --primary-300: #a6a59b;
    --primary-350: #97958c;
    --primary-400: #888681;
    --primary-450: #7b7974;
    --primary-500: #6e6c68;
    --primary-550: #5f5d59;
    --primary-600: #51504d;
    --primary-650: #444341;
    --primary-700: #373734;
    --primary-750: #2c2c2a;

    --primary-800: #1f1f1e;
    --primary-810: #1f1f1e;
    --primary-820: #1d1d1b;
    --primary-830: #1a1a19;
    --primary-840: #171716;
    --primary-850: #141414;
    --primary-860: #121212;
    --primary-870: #121212;
    --primary-880: #0f0f0f;
    --primary-890: #0d0d0d;
    --primary-900: #0a0a0a;

    --bs-body-bg: var(--primary-10) !important;
}

.sl-sidebar {
    background-color: var(--primary-20) !important;
    border-color: var(--primary-30);
}

.sl-primary-layout {
    .sl-sidebar {
        width: var(--sl-primary-width);
        max-width: var(--sl-primary-width) !important;
    }
}

.sl-secondary-layout {
    .sl-sidebar {
        width: var(--sl-secondary-width);
        max-width: var(--sl-secondary-width) !important;
        overflow-x: hidden;
    }
}

.accordion {
    .accordion-button {

        &::after {
            content: none !important;
        }
    }
}

.dropdown-menu {
    &::after {
        content: none;
    }
}

@media (min-width: 576px) {
    .sl-sidebar {
        transition: width 0.2s ease;
    }

    .sl-primary-layout {
        display: flex;

        >.sl-sidebar {
            width: var(--sl-primary-width);
            max-width: var(--sl-primary-width) !important;
            height: var(--sl-sidebar-height, 100vh);
            position: sticky;
            top: var(--sl-sidebar-top, 0);
            flex-shrink: 0;

            &.hide,
            &.hide .offcanvas-body {
                width: var(--sl-primary-min-width);
                overflow-x: hidden;

                .navbar-brand {
                    display: none;
                }
            }
        }

        >.sl-main-content {
            flex-grow: 1;
            min-width: 0;
        }
    }
}

@media (min-width: 1200px) {
    .sl-secondary-layout {
        display: flex;
        flex-direction: row;

        >.sl-sidebar {
            width: var(--sl-secondary-width);
            max-width: var(--sl-secondary-width) !important;
            height: var(--sl-sidebar-height, 100vh);
            position: sticky;
            top: var(--sl-sidebar-top, 0);
            flex-shrink: 0;

            &.hide,
            &.hide .offcanvas-body {
                width: var(--sl-secondary-min-width);
                overflow-x: hidden;

                +main {
                    max-width: calc(100% - var(--sl-secondary-min-width));
                }
            }
        }

        >main {
            flex-grow: 1;
            min-width: 0;
        }
    }
}

.nav-menu {
    .accordion {
        .accordion-button {
            &:focus {
                box-shadow: none !important;
            }

            &:not(.collapsed) {
                box-shadow: none !important;
            }

            &::after {
                opacity: 0.25;
            }
        }

        .accordion-item {
            border: none !important;

            &:last-of-type,
            &:first-of-type {
                border: none !important;
            }
        }

        .btn,
        .accordion-button {
            padding-left: calc(.5rem + (var(--depth, 0) * 1.5rem)) !important;
            transition: padding 0.3s ease;
            height: 2.25rem;
        }
    }
}

@media(min-width: 576px) {
    .dropdown-menu {
        min-width: 16rem;
    }

    .hide {
        .nav-menu {

            .btn,
            .accordion-button,
            & {
                padding: 0 !important;
                transition: padding align-items 0.3s ease;
                text-align: center !important;
                width: 2.25rem !important;
                min-height: 2.25rem !important;
                display: flex;
                align-items: center;
                justify-content: center;

                .bi {
                    margin-right: 0 !important;
                }

                img {
                    width: 2.25rem !important;
                    height: 2.25rem !important;
                }

                span,
                .detail,
                .detail+.bi {
                    display: none;
                }

                &::after {
                    content: none;
                }
            }

            .dropdown-menu .btn {
                width: auto !important;
                text-align: left !important;
                justify-content: start !important;
                padding: .5rem !important;

                span {
                    display: inline !important;
                }
            }
        }
    }
}

.bg-body {
    background-color: var(--primary-10) !important;
}

.btn-custom-light {
    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-body-color);
    --bs-btn-bg: var(--primary-10);
    --bs-btn-border-color: var(--primary-20);
    --bs-btn-hover-color: var(--bs-body-color);
    --bs-btn-hover-bg: var(--primary-20);
    --bs-btn-hover-border-color: var(--primary-30);
    --bs-btn-focus-shadow-rgb: none;
    --bs-btn-active-color: var(--bs-body-color);
    --bs-btn-active-bg: var(--primary-30);
    --bs-btn-active-border-color: var(--primary-40);
}

.sl-sidebar {
    .btn-custom-light {
        --bs-btn-font-weight: 600;
        --bs-btn-color: var(--bs-body-color);
        --bs-btn-bg: var(--primary-20);
        --bs-btn-border-color: var(--primary-30);
        --bs-btn-hover-color: var(--bs-body-color);
        --bs-btn-hover-bg: var(--primary-30);
        --bs-btn-hover-border-color: var(--primary-40);
        --bs-btn-focus-shadow-rgb: none;
        --bs-btn-active-color: var(--bs-body-color);
        --bs-btn-active-bg: var(--primary-40);
        --bs-btn-active-border-color: var(--primary-50);
    }

    .accordion-button {

        background-color: var(--bs-btn-bg) !important;
        border-color: var(--bs-btn-border-color) !important;

        &:hover,
        &:not(.collapsed):hover {
            background-color: var(--bs-btn-hover-bg) !important;
            border-color: var(--bs-btn-hover-border-color) !important;
        }

        &:not(.collapsed) {
            background-color: var(--bs-transparent) !important;
            border-color: var(--primary-30) !important;
        }
    }
}
