$sl-primary-width: 18rem;
$sl-secondary-width: 50%;
$sl-primary-min-width: 48px;
$sl-secondary-min-width: 0px;

:root {
    --sl-primary-width: #{$sl-primary-width};
    --sl-secondary-width: #{$sl-secondary-width};
    --sl-primary-min-width: #{$sl-primary-min-width};
    --sl-secondary-min-width: #{$sl-secondary-min-width};
}

.sl-primary-layout {
    .sl-sidebar {
        width: var(--sl-primary-width);
        max-width: var(--sl-primary-width) !important;
    }
}

@media (min-width: 576px) {
    .sl-sidebar {
        transition: width 0.2s ease;
    }

    .sl-primary-layout {
        display: flex;

        >.sl-sidebar {
            width: var(--sl-primary-width);
            max-width: var(--sl-primary-width) !important;
            height: var(--sl-sidebar-height, 100vh);
            position: sticky;
            top: var(--sl-sidebar-top, 0);
            flex-shrink: 0;

            &.hide,
            &.hide .offcanvas-body {
                width: var(--sl-primary-min-width);
            }
        }

        >.sl-main-content {
            flex-grow: 1;
        }
    }
}

@media (min-width: 1200px) {
    .sl-secondary-layout {
        display: flex;
        flex-direction: row;

        >.sl-sidebar {
            width: var(--sl-secondary-width);
            max-width: var(--sl-secondary-width) !important;
            height: var(--sl-sidebar-height, 100vh);
            position: sticky;
            top: var(--sl-sidebar-top, 0);
            flex-shrink: 0;

            &.hide,
            &.hide .offcanvas-body {
                width: var(--sl-secondary-min-width);

                +main {
                    max-width: calc(100% - var(--sl-secondary-min-width));
                }
            }
        }

        >main {
            flex-grow: 1;
        }
    }
}